[submodule "riscv-linux"]
	path = riscv-linux
	url = https://github.com/janvrany/riscv-linux.git
	branch = users/jv/riscv-linux-5.6.12
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv/opensbi.git
	branch = v0.6
